name: Deploy to Production

on:
  push:
    branches:
      - main  # o 'master' si usas esa rama

jobs:
  deploy:
    runs-on: self-hosted  # Usa el runner instalado en tu servidor

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy application
      run: |
        docker-compose down
        docker-compose up -d --build
        docker-compose logs --tail=50
